.App {
    background-color: rgba(0, 0, 0, 0.126);
}

.main-content {
    display: flex;
}

.map-view {
    position: relative;
    height: 100vh;

    .area-function {
        flex: 0.7;
        height: 100vh;
        top: 0;
        right: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .container-layer {
            display: flex;

            .left,
            .right {
                flex: 1;
            }
        }

        .list-layer {
            // flex: 1;
            height: 25%;

            background-color: rgb(255, 255, 255);
        }

        .ant-select-show-search {
            float: right;
            margin-bottom: 12px;
        }

        .side-bar {
            flex: 0.3;
        }
    }

    .form-infor {
        display: flex;
        flex-direction: column;
        right: 0;
    }

    .esri-component.esri-attribution.esri-widget {
        display: none;
    }

    .view-label {
        position: absolute;
        background-color: white;
        right: 0;
        z-index: 9999;

        span {
            font-weight: bold;
        }

        &.view-basemap {
            top: 30px;
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
    }

    .item-label {
        display: flex;
        align-items: center;
        gap: 5px;

        .btn-layer {
            width: 10px;
            height: 10px;
            border: 0;
        }
    }
}

.toggle {
    margin-left: auto !important;
}

.switch-view {
    top: 20px;
}

.popup-location {
    p {
        margin: 0;
    }

    display: flex;
    flex-direction: column;
}

.list-tab {
    padding-left: 10px;
    flex: 1;
    // margin-top: auto;
    background-color: white;
}