.App {
    background-color: rgba(0, 0, 0, 0.126);
}

.main-content {
    display: flex;
}

.map-view {
    position: relative;
    height: 100vh;

    .area-function {
        flex: 1;
        height: 100%;
        top: 0;
        padding-top: 15px;
        right: 15px;
        display: flex;

        .form-infor {
            display: flex;
            flex-direction: column;
        }

        .ant-select-show-search {
            float: right;
            margin-bottom: 12px;
        }

        .legend {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
        }

        .side-bar {
            flex: 1;
        }
    }

    .esri-component.esri-attribution.esri-widget {
        display: none;
    }
}