.App {
    background-color: rgba(0, 0, 0, 0.126);
}

.main-content {
    display: flex;
}

.map-view {
    position: relative;
    height: 100vh;

    .area-function {
        flex: 0.7;
        height: 100vh;
        top: 0;
        right: 15px;
        display: flex;
        flex-direction: column;

        .list-layer {
            flex: 1;
            background-color: rgb(255, 255, 255);
        }

        .ant-select-show-search {
            float: right;
            margin-bottom: 12px;
        }

        .side-bar {
            flex: 0.3;
        }
    }

    .form-infor {
        display: flex;
        flex-direction: column;
        right: 0;
    }

    .esri-component.esri-attribution.esri-widget {
        display: none;
    }

    .view-label {
        position: absolute;
        right: 0;
        z-index: 9999;

        span {
            font-weight: bold;
        }
    }

    .toggle {
        margin-left: auto;
    }
}